<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PUBULIU.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>047C00AB1D546C4C004C7EFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>047C00C41D546C4D004C7EFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>047C00CF1D546C4D004C7EFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
